.Home {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f3ebf6;

  .sideLeft {
    width: 28%;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);

    h2 {
      margin: 0;
      text-align: center;
      margin: auto;
      color: #8c55aa;
    }

    .option {
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
      }

      &.selected {
        background: linear-gradient(to right, #9c27b0, #e040fb);
        color: white;
      }
    }
  }

  .content {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);

    .imageName {
      width: 100%;
      text-align: center;
    }

    .images {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      gap: 20px;

      .arrow {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }

      .imageContainer {
        max-height: 350px;
        flex: 1;

        img {
          display: block;
          margin: auto;
          width: auto;
          /* max-height: 100%; */
          max-height: 350px;
        }
      }
    }

    .grade {
      width: 100%;

      input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        margin: 0;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 16px;
        background: #ccc;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          height: 16px;
          width: 16px;
          background-color: #ef9efe;
          border-radius: 50%;
          border: 3px solid #9c27b0;
          box-shadow: -407px 0 0 400px #e040fb;
        }

        &::-moz-range-thumb {
          height: 16px;
          width: 16px;
          background-color: #ef9efe;
          border-radius: 50%;
          border: 3px solid #9c27b0;
          box-shadow: -407px 0 0 400px #e040fb;
        }
      }

      .value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-top: 10px;

        button {
          padding: 10px 40px;
          box-sizing: border-box;
          cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, #9c27b0, #e040fb);
          border: 0;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          transition: 0.3s ease;
        }
      }
    }
  }
}
