.About {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f3ebf6;
  padding: 20px 50px;

  h1 {
    margin: 0 auto;
  }

  q {
    width: 350px;
    margin-left: 50px;
  }
}
