<div class="header">
	<nav class="links-pages">
		<ol>
			<li><a class="link" href="/">Главная</a></li>
			<li><a class="link" href="/about">О нас</a></li>
			<li><a class="link" href="/contacts">Контакты</a></li>
			<li><a class="link" href="/help">Помощь</a></li>
		</ol>
	</nav>
</div>